<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatShare</title>
    <link rel="icon" href="/static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
</head>

<body>
    <div class="area">
        <div class="circles">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="context">
        <button id="captureButton">Capture</button>
        <h1>Coding Craft YT</h1>
        <h3>Taking Your Flask Project Beyond Localhost!</h3>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        document.getElementById('myButton').addEventListener('click', function() {
            console.log('Button clicked!');
            socket.emit('button_clicked');
        });

        socket.on('display_message', function(message) {
            console.log('Message from server:', message);
            document.getElementById('message').innerText = message;
        });
    </script>
</body>

</html>
